<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
        <link rel="icon" href="../dist/images/favicon.png" type="image/x-icon" />
        <title>BoilerPlate</title>

        <!-- open graph -->
        <meta itemprop="name" content="BoilerPlate">
        <meta itemprop="url" content="/">
        <meta name="description" content="BoilerPlate - SASS & JS with compression for SASS, JS, HTML & IMAGES">
        <meta name="robots" content="FOLLOW, INDEX">
        <meta property="og:title" content="Luke Gibson BoilerPlate">
        <meta property="og:type" content="website">
        <meta property="og:url" content="/">
        <meta property="og:image" content="http://lukegibsonphotography.co.uk//media/1048/medium.jpg?width=1200">
        <meta property="og:description" content="BoilerPlate - SASS & JS with compression for SASS, JS, HTML & IMAGES">
        <meta property="og:locale" content="en_GB">
        <meta property="og:site_name" content=BoilerPlate>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="/">
        <meta name="twitter:creator" content="l_development">
        <meta name="twitter:url" content="/">
        <meta name="twitter:title" content="BoilerPlate">

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">

        <!-- styles sheets -->
        <link rel="stylesheet" href="../dist/css/style.css">

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../dist/js/scripts-min.js"></script>

    </head>

    <body class="o-page">            
        <header class="c-header">
            <div class="o-wrap o-wrap--x-large u-clearfix">
                <div class="c-header__logo">
                    <img src="../dist/images/favicon.png" alt="Boiler Plate Logo"/>
                </div>
                <div class="c-nav c-header__nav">
                    <ul class="c-nav__list">
                        <li class="c-nav__item">
                            <a class="c-nav__link" href="#">HOME</a>
                        </li>
                        <li class="c-nav__item">
                            <a class="c-nav__link" href="#">ABOUT</a>
                        </li>
                        <li class="c-nav__item">
                            <a class="c-nav__link" href="#">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>    

        <main>
            <section class="c-banner">
                <picture>
                    <img class="c-banner__image" alt="Yellow background with designer pencils on top"                
                        src="../dist/images/banner.jpg"                
                        srcset="../dist/images/banner.jpg,                
                        ../dist/images/banner.jpg 2x,                
                        ../dist/images/banner.jpg 3x" type="image/webp"                                                                    
                        srcset="../dist/images/banner.jpg,
                        ../dist/images/banner.jpg 2x,                
                        ../dist/images/banner.jpg 3x" type="image/jpeg"/>            
                </picture>
            </section>

        </main> 
        
        <footer class="c-footer">
        </footer>
    </body>
</html>
