<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
        <link rel="icon" href="~" type="image/x-icon" />
        <title>Luke Gibson Photography | Home</title>

        <!-- open graph -->
        <meta itemprop="name" content="Luke Gibson Photography | Home">
        <meta itemprop="url" content="/">
        <meta name="description" content="Family Photography based in Waterlooville, Havant and surrounding areas. Relaxed, Natural Family Photography.">
        <meta name="robots" content="FOLLOW, INDEX">
        <meta property="og:title" content="Luke Gibson Photography | Home">
        <meta property="og:type" content="website">
        <meta property="og:url" content="/">
        <meta property="og:image" content="http://lukegibsonphotography.co.uk//media/1048/medium.jpg?width=1200">
        <meta property="og:description" content="Family Photography based in Waterlooville, Havant and surrounding areas. Relaxed, Natural Family Photography.">
        <meta property="og:locale" content="en_GB">
        <meta property="og:site_name" content="Hope and Soul | Home">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="/">
        <meta name="twitter:creator" content="l_development">
        <meta name="twitter:url" content="/">
        <meta name="twitter:title" content="Luke Gibson Photography | Home">

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">

        <!-- styles sheets -->
        <link rel="stylesheet" href="/Assets/sass/style_02.min.css">

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/Assets/scripts/bundle.min.js"></script>

    </head>

    <body class="o-page">            
        <header class="c-header">            
        </header>    

        <main>
        </main> 
        
        <footer class="c-footer">            
        </footer>
    </body>
</html>
