/* ===========================================================

	# Header

=========================================================== */

.c-header {
    background-color: $light-1;    
    width: 100%;
    padding: 1rem 0;
    border-bottom: .3rem solid $pri;

    &__logo {
        width: 100%;
        max-width: 8rem;
        float: left;
    }

    &__nav {
        float: right;
    }
}