/* ===========================================================

	# Nav

=========================================================== */

.c-nav {
	float: left;
	width: 65%;

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: right;
		float: right;
	}

	&__item {
		display: inline-block;
	}

	&__link {
		color: $ter;
		transition: color $ease $speed;

		&:hover,
		&:focus {
			color: $pri;
		}
	}
}